.chat-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #5865f2;
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-search {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 2.5rem;
}

.user-search-input {
    width: 100%;
    border: 0px solid #000;
    border-radius: 15px;
    outline: none;
    z-index: 100;
    font-size: 1.25rem;
    padding: 10px 15px;
}

.navbar-user {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.profile-picture {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    border-radius: 50%;
}

.nickname {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.user-id {
    font-size: 1rem;
    color: #ffffffaa;
    margin-top: -5px;
}

.logout {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 1.25rem;
}

.logout:hover {
    background-color: #ffffffaa;
}

.search-result-container {
    display: flex;
    position: absolute;
    align-items: center;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 90;
    padding: 2.5px 5px;
    padding-top: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
}

.search-result-avatar {
    width: 2rem;
    height: 2rem;
    border: 2px solid #5865f2;
    border-radius: 50%;
    object-fit: cover;
}

.search-result-nickname {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.search-result-id {
    color: #00000070;
}

.add-friend-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: #5865f2;
    border: 0px solid #000;
    flex-shrink: 0;
    transition: background-color 0.2s ease;
}

.add-friend-button:hover {
  background-color: #4954c8;
}

.add-friend-button-plus {
    padding-bottom: 0.2rem;
    color: #fff;
}

.chat-content-area {
    display: flex;
    margin-top: 80px;
    flex-grow: 1;
    overflow: hidden;
    height: calc(100vh - 80px);
}

.friend-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.friend-list-panel {
    width: 240px;
    border-right: 1px solid #777777;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.friend-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.friend-item-box {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #777;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;
}

.friend-item-box:hover,
.friend-item-box.selected {
    background-color: #4954c8;
}

.friend-nickname {
    font-size: 1.5rem;
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-friends-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.no-chat-selected {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

.chat-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.messages-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-right: 0.5rem;
}

.message-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: -2rem;
    padding: 0 1rem;
}

.message-text {
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 5px 1rem;
}

.my-message {
    align-self: flex-end;
}

.other-message {
    align-self: flex-start;
}

.message-content {
    display: flex;
    align-items: flex-start;
}

.message-time {
    margin: 2.5rem 0.5rem;
    margin-bottom: 0;
}

.my-message .message-text {
    background-color: #5865f2;
    border-top-right-radius: 2px;
}

.message-sender {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.message-sender-info {
    display: flex;
    margin-bottom: -10px;
}

.message-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: -36px;
    margin-right: 5px;
    position: relative;
    top: 22px;
    z-index: 1;
}

.my-message .message-sender-info {
    display: none;
}

.other-message .message-content {
    flex-direction: row-reverse;
}

.other-message .message-text {
    background-color: #777;
    border-top-left-radius: 2px;
}

.message-input-form {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #5865f2;
    border-radius: 20px;
    font-size: 1rem;
    resize: none;
    outline: none;
}

.send-button {
    position: absolute;
    right: 15px;
    border: none;
    border-radius: 20px;
    background-color: #5865f2;
}

.profile-picture-container {
    position: relative;
    margin-bottom: -7px;
}

.profile-camera-icon {
    position: absolute;
    bottom: 15px;
    right: 17px;
    font-size: 2rem;
    opacity: 0;
}

.profile-picture-container:hover .profile-camera-icon {
    opacity: 1;
}

.profile-picture-container:hover .profile-picture {
    filter: brightness(0.8);
}